body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#canvas {
    display: block;
    background-color: #ecdf88;
    border-style: outset;
    margin: 5vh auto auto;
}

/*.btn{*/

/*}*/

/*color button*/
.colorButton {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}


.colorButton:hover {
    border-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
}

.colorButton:hover,
.colorButton:active {
    transform: scale(1.05);
}

input {
    background: transparent;
    border-style: none;
}





